body {
    font-family: Arial, sans-serif;
    display: flex;
    gap: 8px;
    flex-direction: column;
    /* Stack elements vertically */
    justify-content: center;
    /* Center vertically in the viewport */
    align-items: center;
    /* Center horizontally */
    height: 100vh;
    /* Full height of the viewport */
    background-color: lightgray;
}

form {
    display: grid;
}

/* Consistent width for form elements */
form input[type="text"],
form textarea,
form button[name="save"] {
    width: 300px;
    margin: 10px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0px;
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 6px;
}